*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: nourd;
    text-align: center;
    color: white;

}
body{
    max-width: 100vw;
    height: 100vh;
    background-color: #58a0ff;
}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    
}
.home h1, h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:1px 1px 1px black;
}

.home h1{
    font-size: 5em;
}
.home h2{
    font-size: 5em;
}

.home span{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 14%;

}

button{
    background-color: pink;
    border: none;
    width: 260px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 5px;
    margin-top: 60px;
    cursor: pointer;
    font-size: large;
    color: black;
    font-family: cursive;
}
button:hover{
    background-color: rgb(253, 134, 154);
}

.buttonJog{
    rotate: -8deg;
}
.buttonApr{
    rotate: 4deg;
}
.buttonProj{
    rotate: -2deg;
}
.image{
    background-image: url(images/icone.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}
.linha{
    background-image: url(/images/linha.png);
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.button-layout{
    width: 350px;
    height: 160px;
}

.sol, .item, .flor, .nuvem, .arco{
    width: 90px;
    position: relative;
}
.sol{
    top: -38%;
    right: 25%;
}

.item{
    top: -75%;
    left: 20%;
    rotate: 60deg;
}
.nuvem{
    top: -50%;
    right:35%;
    rotate: -15deg;
}
.flor{
    top: -75%;
    right: 22%;
}
.arco{
    top:-55%;
    left: 20%;
    rotate: -25deg;
}













/* quests */
#container-quest{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#respContainer{
    width: 50%;
    height: 50%;
    position: fixed;
    top: 42%;
    font-size: 5em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px black;
    z-index: 1;
    display: none;
}
.resposta-layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.resposta-layout{
    rotate: 0deg;
}
#contador{
    position: absolute;
    top: 65px; /* Aumente a distância do topo */
    color: rgb(255, 255, 255);
    font-family: cursive;
    text-shadow: 1px 1px 4px black;
    z-index: 1;
}
.continue{
    width: 80%;
    height: 50px;
    margin: 20px auto;
    background-color: white;
    position: relative;
    display: block;
    text-align: center; /* Centralize o texto horizontalmente */
}
.continue:hover{
    background-color: grey;
}
.resultado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    width: 400px; /* Defina uma largura fixa para o contêiner de resultados */
    height: auto;
    backdrop-filter: blur(10px);
    text-shadow: 1px 1px 1px black;
    font-size: 2em; /* Reduz ainda mais o tamanho do texto */
    font-family: cursive;
    z-index: 1;
    padding: 20px;
}
.resultado span{
    align-items: center;
}
.btn-resultado{
    z-index: 1;
}









/* Css Niveis*/

.niveis-layout{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    text-shadow: 1px 1px 3px black;
}











/* Css Tutorial*/

#container-tutorial img{
    z-index: 0;
}
.tutorial{
    display: flex;
    flex-direction: column;
    width: 80%; /* Reduza a largura para que o conteúdo não seja cortado em telas menores */
    height: auto; /* Altere a altura para automático para que o conteúdo seja dimensionado conforme necessário */
    margin: 10% auto; /* Centralize o tutorial na tela */
    padding: 20px; /* Adicione um preenchimento interno para afastar o conteúdo das bordas */
    background-color: pink;
    border: 1.5px solid black;
    border-radius: 20px;
    box-shadow: 5px 1px 10px black; 
    text-shadow: 1px 1px 4px black;
}
.tutorial span{
    margin: 10px 0; /* Reduza a margem entre os elementos de texto */
}

.tutorial > span >  h1{
    color: rgb(127, 127, 127);
    font-size: 1.7em;
    text-shadow:1px 1px 1px black;
}
.tutorial > span >  h2{
    color: rgb(127, 127, 127);
    font-size: 1.7em;
    text-align: center;
}
.tutorial p{
    margin: 0;
    margin-top: 0;
    font-size: 1.2em;
    overflow: auto;
}
#retornar{
    position: relative; /* Altere a posição para relativa */
    width: 150px;
    height: 50px;
    margin: 20px auto; /* Centralize o botão horizontalmente */
    z-index: 2; /* Defina um z-index maior para o botão retornar */
}













/*  CSS NIVEL1 */ 

#pergunta, #resposta{
    margin: auto;
    margin-top: 50px;
    
}
.imgPergunta{
    width: 400px;
    height: 250px;
    
}
#pergunta{

    width: 400px;
    height: 250px;
    border: 1px solid black;
    text-align: center;
    background-position : center;
    background-Repeat : no-repeat;
    background-Size : contain;
    margin : 0;
    margin-Top : 100px;
    
}

#resposta {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    height: 150px;
    gap: 10px;
}
#resposta button{
    margin: 0;;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
}
#resposta button:hover{
    background-color: rgb(193, 193, 193);
    color: white;
    text-shadow: 1px 1px 1px black;
}
